name: Packaging

on:
  push:
    branches:
      - "main"
    tags:
      - v*

  # Triggering on PRs and arbitrary branch pushes is not enabled because most of the time only the CI build should be
  # triggered, not the packaging build. In cases where you want to test changes to this workflow this trigger enables
  # you to manually invoke this workflow on an arbitrary branch as needed.
  workflow_dispatch:

jobs:
  package:
    #
    # Set @vN to the latest released version.
    #
    uses: NLnetLabs/ploutos/.github/workflows/pkg-rust.yml@v7
    with:
      #
      # Define the desired build stages. Each xxx_rules(_path) setting is optional but at least one should be set.
      # See https://github.com/NLnetLabs/.github/tree/main/workflow-templates/pkg for templates for each of the files referenced
      # below.
      #
      docker_org: nlnetlabs
      docker_repo: krill-sync
      docker_build_rules: pkg/rules/docker-images-to-build.yml
      docker_sanity_check_command: krill-sync --version

      package_build_rules: pkg/rules/packages-to-build.yml
      package_test_rules: pkg/rules/packages-to-test.yml
      package_test_scripts_path: pkg/test-scripts/test-<package>.sh

      #
      # Optional settings:
      #
      deb_extra_build_packages: libssl-dev
